* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: blanchedalmond;
    display: flex;
    height: 100vh;
}

#sidebar {
    flex: 1;
    background-color: aquamarine;
    display: flex;
    flex-direction: column;
}

#sidebar > div {
    font-size: 6vh;
    display: flex;
    justify-content: center;
    align-items: center;;
}

#home {
    flex: 1;
    border-bottom: 5px black solid;
    user-select: none;
}

#projects {
    flex: 7;
}

#home:hover {
    background-color: rgb(85, 253, 197);
    cursor: pointer;
}

#content {
    flex: 3;
    background-color: crimson;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.expand {
    display: flex;
    flex-direction: column;
}

.expand > div:first-child, #addProject {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.expand > * {
    width: 100%;
}

#addProject {
    border-top: 3px solid black;
    background-color: rgb(153, 252, 219);
    user-select: none;
}

#addProject:hover {
    cursor: pointer;
    background-color: rgb(85, 253, 197)
}

.expand > div:first-child {
    border-bottom: 3px solid black;
}


.expand .shortcut {
    background-color: rgb(153, 252, 219);
    padding: 5%;
    border-bottom: 3px solid gray;
    word-break: break-all;
    user-select: none;
    cursor: pointer;
}

.expand .shortcuts {
    overflow-y: auto;
    max-height: 70vh;
}

.shortcut:hover {
    background-color: rgb(85, 253, 197);
    cursor: pointer;
}

.expand > div {
    flex: 5;
    text-align: center;
}

#tasks {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
    overflow-y: scroll;
    width: 100%;
    padding: 3%;
}

.task {
    height: 300px;
    background-color: rgba(190, 34, 34, 0.795);
    display: flex;
    justify-content: center;
}

#content > *:not(#tasks) {
    display: flex;
    justify-content: center;
    width: 100%;
}

header {
    font-size: 40px;
}

#addTask {
    font-size: 40px;
    color: white;
    background-color: black;
    user-select: none;
}

#addTask:hover {
    opacity: 0.5;
    cursor: pointer;
}

#addTask:active {
    opacity: 0.2;
}

.selected {
    border-right: 10px groove crimson;
}