* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    --neutral: #f5f5f5;
    --violet: white;
    --stone: #6e6279;
    --zinc: #3f3f46;
    --hover: rgb(69, 31, 83);

}

body,
html {
    height: 100%;
    width: 100%;
}

body {
    display: flex;
}


#sidebar {
    flex: 1;
    background-color: var(--zinc);
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

#sidebar>div {
    font-size: 6vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home {
    flex: 1;
    border-bottom: 5px black solid;
    background-color: var(--stone);
    user-select: none;
}

#projects {
    flex: 7;
}

.home:hover {
    background-color: var(--hover);
    cursor: pointer;
}

#content {
    flex: 3;
    background-color: grey;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column-reverse;
    height: 100%;
    width: 100%;
}


.expand {
    display: flex;
    flex-direction: column;
}

.expand>div:first-child,
#addProject {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.expand>* {
    width: 100%;
}

#addProject {
    border-top: 3px solid black;
    background-color: var(--stone);
    user-select: none;
}

#addProject:hover {
    cursor: pointer;
    background-color: var(--hover);
}

.expand>div:first-child {
    border-bottom: 3px solid black;
}


.expand .shortcut {
    background-color: var(--stone);
    padding: 5%;
    border-bottom: 3px solid black;
    word-break: break-word;
    user-select: none;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
}

.expand .shortcuts {
    overflow-y: auto;
    max-height: 70vh;
}

.shortcut:hover {
    background-color: var(--hover);
    cursor: pointer;
}

.expand>div {
    flex: 5;
    text-align: center;
}

#tasks {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(35vh, 1fr));
    grid-gap: 2vh;
    overflow-y: auto;
    width: 100%;
    padding: 3%;
}

#tasks>div {
    height: 35vh;
    background: rgb(0, 147, 223);
    background: radial-gradient(circle, rgba(0, 147, 223, 1) 0%,
            rgba(211, 239, 242, 1) 49%, rgba(17, 16, 16, 1) 100%);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 10%;
}

#tasks>div>div {
    word-break: break-word;
    font-size: 3vh;
}

.Must {
    background: rgb(232, 5, 5);
    background: radial-gradient(circle, rgba(232, 5, 5, 1) 0%,
            rgba(213, 144, 144, 1) 49%, rgba(17, 16, 16, 1) 100%) !important;
}

.Necessary {
    background: rgb(232, 107, 5);
    background: radial-gradient(circle, rgba(232, 107, 5, 1) 0%,
            rgba(235, 200, 163, 1) 49%, rgba(17, 16, 16, 1) 100%) !important;
}

.Maybe {
    background: rgb(193, 232, 5);
    background: radial-gradient(circle, rgba(193, 232, 5, 1) 0%,
            rgba(224, 235, 163, 1) 49%, rgba(17, 16, 16, 1) 100%) !important;
}

#content>*:not(#tasks) {
    display: flex;
    justify-content: center;
    width: 100%;
}

.header {
    font-size: 40px;
}

.header .RPB {
    background-color: red;
    position: absolute;
    height: max(55px, 7vh);
    width: max(55px, 7vh);
    font-size: max(40px, 3rem);
    right: 0;
    top: 0;
    color: rgb(85, 3, 19);
}

#addTask {
    display: flex;
    align-items: center;
    font-size: max(40px, 3rem);
    color: white;
    background-color: black;
    user-select: none;
    height: max(55px, 7vh);
}

#addTask:hover {
    opacity: 0.5;
    cursor: pointer;
}

#addTask:active {
    opacity: 0.2;
}

.selected {
    border-right: 10px groove var(--hover);
}

#date {
    width: 40vh !important;
    font-size: 5vh;
    border: none;
    background: grey;
}

.calLeft {
    margin-right: 2vh;
}

.calRight {
    margin-left: 2vh;
}

.navigatecal {
    font-size: 8vh;
    cursor: pointer;
    user-select: none;
}

#taskForm {
    width: 65vh;
    height: 65vh;
    left: calc(50% - 10vh);
    top: calc(50% - 30vh);
    padding-left: 5%;
    padding-right: 5%;
    font-size: 3vh;
}

#projectForm {
    width: 55vh;
    height: 25vh;
    left: calc(50% - 10vh);
    top: calc(50% - 30vh);
    padding: 0 2% 0 2%;
    font-size: 3vh;
}

#confirmationForm {
    width: 50vh;
    height: 35vh;
    left: calc(50% - 10vh);
    top: calc(50% - 30vh);
    padding: 0 3% 0 3%;
    font-size: 3vh;
}

#projectForm,
#taskForm,
#confirmationForm {
    position: absolute;
    z-index: 2;
    background-color: var(--stone);
    display: none;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    border: 5px var(--hover) solid;
}

.cover {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
    z-index: 1;
    width: 100%;
    height: 100%;
    display: none;
}


#taskForm div,
#projectForm div {
    display: flex;
}

#taskForm label,
#projectForm label {
    flex: 1;
    min-width: 20vh;
    font-size: 3vh;
}

#taskForm input,
#taskForm select {
    flex: 6;
    min-width: 30vh;
}

#description,
#taskForm input,
#priority,
#proj_title,
#proj_dueDate {
    font-size: 2vh;
    padding: 1%;
}

#description {
    height: 20vh;
    max-width: 30vh;
    resize: none;
}

.redBtn {
    background-color: red;
    margin-right: 25%;
}

.greenBtn {
    background-color: rgb(47, 255, 47);
}

.redBtn,
.greenBtn {
    font-size: 3vh;
    padding: 10%;
    width: 15vh;
    height: 0.5vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fbtn {
    display: flex;
    justify-content: center;
    width: 100%;
}

.expired {
    border: 5px solid red;
}


.task_desc {
    overflow-y: auto;
    flex: 6;
    font-size: 1.5rem;
}

.task_dueDate {
    flex: 1;
}

.task_title,
.task_desc,
.task_dueDate {
    border-bottom: 1px solid rgba(0, 0, 0, 0.212);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.task_title {
    flex: 1;
    padding: 0 6%;
}

.taskButtons>button {
    font-size: 3vh;
    color: white;
    background-color: black;
    opacity: 0.5;
}

.mobile {
    display: none;
}



@media only screen and (max-width: 1100px) {

    body,
    html {
        height: 100%;
    }

    .mobile {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        z-index: 1;
        left: 0;
        top: 0;
        width: 55px;
        height: 55px;
        color: black;
        overflow: hidden;
        background-color: black;
        border-right: 1px solid white;
    }

    .mobile:hover {
        cursor: pointer;
    }

    #sidebar {
        position: absolute;
        z-index: 1;
        left: 0;
        display: none;
        max-height: 100vh;
        max-width: min(75%, 300px);
    }

    #projectForm,
    #taskForm,
    #confirmationForm {
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        text-align: center;
        max-width: 100%;
        width: 400px;
        height: 200px;
    }

    #taskForm, #projectForm {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        min-height: 100%;
        height: fit-content;
        overflow-y: auto;
        text-align: center;
        align-items: center;
    }

    #projectForm label {
        max-height: 50px;
    }

    #projectForm>div {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #projectForm>div>* {
        font-size: 2rem;
        width: 90%;
    }

    #taskForm label {
        font-size: 1.5rem
    }

    #taskForm #title,
    #taskForm #dueDate {
        font-size: 1rem;
        height: 50px;
        width: 90%;
    }

    #description {
        width: 90%;
        max-width: none;
        font-size: 1rem;
        min-height: 200px;
    }

    #priority {
        font-size: 1rem;
        width: 90%;
        justify-content: center;
    }

    #taskForm>div {
        position: relative;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
    }

    .fbtn {
        display: flex;
        flex-direction: row !important;
    }

    .fbtn>* {
        font-size: 1.7rem;
    }

    .RPB {
        font-size: 40px;
        z-index: 1;
    }

    #date {
        max-width: 250px;
        font-size: 2rem;
    }

    #addTask {
        margin: 0 100px;
    }

}